name: firebase deploy

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '25.4.0'
      - name: install packages
        run: npm ci
      - name: app build
        run: npm run build
